body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
}
h1 {
color: darkblue;
}
button {
margin-left: 10px;
background-color: red;
color: white;
border: none;
Jesús Márquez Martín 1ºDAW
padding: 5px;
}
